name: CodSpeed

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main

concurrency:
  group: codspeed.yml-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read # required for actions/checkout
  id-token: write # required for OIDC authentication with CodSpeed

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-24.04
    env:
      BAZEL_ARGS: --config=profile --@google_benchmark//:codspeed_mode=instrumentation
      CLANG: 20
      CC: clang-20
      CXX: clang++-20
      DEBIAN_FRONTEND: noninteractive
    steps:
      - uses: actions/checkout@v5

      - name: install clang
        run: |
          sudo apt-get install --update --no-upgrade --no-install-recommends -y clang-${{ env.CLANG }} libc++-${{ env.CLANG }}-dev libc++abi-${{ env.CLANG }}-dev libclang-rt-${{ env.CLANG }}-dev lld-${{ env.CLANG }}

      - name: Build benchmarks
        working-directory: c++
        run: |
          bazel build ${{ env.BAZEL_ARGS }} --build_tag_filters=google_benchmark //...

      - name: Generate benchmark script
        working-directory: c++
        run: |
          echo '#!/bin/bash' > run_benchmarks.sh
          echo 'set -ex' >> run_benchmarks.sh
          echo 'cd c++' >> run_benchmarks.sh
          targets=$(bazel query 'attr(tags, "[\[ ]google_benchmark[,\]]", //...)' --output=label 2>/dev/null)
          for target in $targets; do
            echo "bazel run ${{ env.BAZEL_ARGS }} $target -- --benchmark_min_time=1s" >> run_benchmarks.sh
          done
          chmod +x run_benchmarks.sh

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          run: ./c++/run_benchmarks.sh
          mode: simulation
